DATAFILE=3dxh.dat
DIMENSION=3
# Mesh options
PARADX=0.3       # defines how big (in m) the cell edges are at the electrodes
#PARA3DQUALITY=1.5    # decrease value for a finer parameterization
PARAMAXCELLSIZE=0.3
PARADEPTH=12       # can be set manually
PARABOUNDARY=15      # a little bit bigger than default
PARAGEOMETRY="polyFlatWorld $DATAFILE"  # for flat cross-hole geometry
# Inversion options (as usual)
#LAMBDA=20        # regularisation strength
#LAMBDAOPT=1      # optimise regularisation by means of L-curVe
ZWEIGHT=0.01       # 
#ROBUSTDATA=1     # robust (L1) data reweighting
#BLOCKYMODEL=1    # enhance contrasts by robust (L1) methods (blocky model)
#LOWERBOUND=0     # lower resistivity bound (0=default)
#UPPERBOUND=0     # upper resistivity bound (0=deactivated)
#LAMBDADECREASE=1 # change of regularisation in each iteration by factor 
#MAXITER=20       # restricts maximum number of iterations
# Error weighting
#INPUTERRLEVEL=         # error level in percent
#INPUTERRVOLTAGE=100e-6 # voltage error (in V)
#OVERRIDEERROR=1        # estimate error new even if one is in file
