# _test
DATAFILE=gallery.dat
DIMENSION=2
SAVEALOT=1
#
# Mesh options
#
SURFACESMOOTH=1 # makes a nicer surface
PARADX=0.2 # defines how big (in electrode spacings) the cells are at the surface
PARA2DQUALITY=33.8 # defines how fast the mesh is growing (30-fast,34-slow)
#PARADEPTH=100       # sets model depth, otherwise this is determined automatically
#PARABOUNDARY=5      # size of boundary around electrodes (in %)
#EQUIDISTBOUNDARY=1  # produces equidistant refinement between electrodes
#SPLINEBOUNDARY=1    # uses splines instead of lines for the refinement
PARAMAXCELLSIZE=0.5 # maximum cell size in m^2
#REFRAKTOR=poly.xz   # includes a known line in model
#PARAGEOMETRY=do.sh  # user-defined parameterisation producing mesh/mesh.poly
#
# Inversion options
#
LAMBDA=10       # regularisation strength
LAMBDAOPT=0     # optimise regularisation by means of L-curve
#ZPOWER=0        # vertical constraints (0=isotropic, 0.5=quite layered)
#CONSTRAINT=1     # regularisation (0-minimum length, 1-1st order, 2-2nd order, 6-vertical, 10-use ZPOWER)
#ROBUSTDATA=1    # robust (L1) data reweighting
#BLOCKYMODEL=1   # enhance contrasts by robust (L1) methods
#LOWERBOUND=0    # lower resistivity bound (0=default)
#UPPERBOUND=0    # upper resistivity bound (0=deactivated)
#LAMBDADECREASE=1 # change of regularisation in each iteration by factor 
#MAXITER=20      # restricts maximum number of iterations
#
# Error weighting
#
#INPUTERRLEVEL=         # error level in percent
#INPUTERRVOLTAGE=100e-6 # voltage error (in V)
#OVERRIDEERROR=1        # estimate error new even if one is in file
